<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url("background.jpg")%>');">
  <div class="banner-content">
    <h1>Welcome to Cocktail</h1>
    <p>The best website to discover new cocktails !</p>
    <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>




<h1 class="text-center">Your cocktail list</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each_with_index do |cocktail, index| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>
