@import "utilities";
@import "footer";
@import "navbar";

.index {
  font-size: 40px;
  color: #59569D;
}

.indexp {
  font-family: 'Oxygen', sans-serif;
  font-size: 40px;
  font-weight: lighter;
}

.imgshow {
  margin: 25px;
}


.lst {
  list-style-type: none;
}

.menu {
  margin-top: 20px;
  margin-bottom: 10px;
}
